$background: rgb(151, 175, 175);
$cardBackground: rgb(235, 238, 240);
$cardHoverBackground: rgb(208, 220, 228);
$cardBorder: rgb(160, 166, 170);
$jumbotronBackground: #748a89;
$jumbotronHeaderColor: #5b7374;
$jumbotronSubheaderColor: #1e5d97;
$jumbotronIconColor: #1e5d97;
$bodyHeaderColor: rgb(20, 3, 51);
