$white: white;
$grey-0: rgb(241, 241, 241);
$grey-1: rgb(228, 228, 228);
$grey-2: rgb(204, 204, 204);
$grey-3: rgb(144, 144, 144);
$grey-4: rgb(95, 95, 95);
$grey-4: rgb(44, 44, 44);
$grey-5: rgb(26, 26, 27);
$black: black;
