$white: white;
$grey-0: rgb(241, 241, 241);
$grey-1: rgb(228, 228, 228);
$grey-2: rgb(204, 204, 204);
$grey-3: rgb(144, 144, 144);
$grey-4: rgb(95, 95, 95);
$grey-4: rgb(44, 44, 44);
$grey-5: rgb(26, 26, 27);
$black: black;

$background: rgb(241, 242, 246);
$cardBackground: rgb(235, 238, 240);
$cardHoverBackground: rgb(208, 220, 228);
$cardBorder: rgb(160, 166, 170);
$jumbotronBackground: #748a89;
$jumbotronHeaderColor: #5b7374;
$jumbotronSubheaderColor: #1e5d97;
$jumbotronIconColor: #1e5d97;
$bodyHeaderColor: rgb(20, 3, 51);

$navbarBackground: rgb(12, 98, 148);
$navbarBackgroundLight: rgba(12, 105, 155, 0.9);
$navbarBackgroundLight1: rgb(12, 110, 167);
$navbarTextColor: rgb(255, 253, 239);
$bodyBackground: rgb(244, 240, 245);
$bodyHeaderColor: rgb(3, 82, 135);
$cardBackground: rgb(248, 245, 250);
$jumbotronBackground: rgb(244, 240, 245);
$jumbotronHeaderColor: rgb(8, 114, 190);
$jumbotronIconColor: rgb(9, 178, 220);
$jumbotronSubheaderColor: rgb(7, 69, 85);
$jumbotronTextColor: rgb(14, 63, 70);
$bodyTextColor: rgb(20, 17, 16);
$textPrimary: rgb(12, 98, 148);
$textDanger: rgb(245, 20, 106);
$textInfo: rgb(34, 235, 212);
$textWarning: rgb(240, 207, 73);
$textSuccess: rgb(174, 230, 136);
