$bodyBackground: var(--bodyBackground);
$bodyBackgroundLight: var(--bodyBackgroundLight);
$bodyBackgroundLighter: var(--bodyBackgroundLighter);
$bodyBackgroundDark: var(--bodyBackgroundDark);
$bodyBackgroundDarker: var(--bodyBackgroundDarker);
$bodyBackgroundFade: var(--bodyBackgroundFade);

$bodyHeaderColor: var(--bodyHeaderColor);
$bodyHeaderColorLight: var(--bodyHeaderColorLight);
$bodyHeaderColorLighter: var(--bodyHeaderColorLighter);
$bodyHeaderColorDark: var(--bodyHeaderColorDark);
$bodyHeaderColorDarker: var(--bodyHeaderColorDarker);
$bodyHeaderColorFade: var(--bodyHeaderColorFade);

$bodyTextColor: var(--bodyTextColor);
$bodyTextColorLight: var(--bodyTextColorLight);
$bodyTextColorLighter: var(--bodyTextColorLighter);
$bodyTextColorDark: var(--bodyTextColorDark);
$bodyTextColorDarker: var(--bodyTextColorDarker);
$bodyTextColorFade: var(--bodyTextColorFade);

$cardBackground: var(--cardBackground);
$cardBackgroundLight: var(--cardBackgroundLight);
$cardBackgroundLighter: var(--cardBackgroundLighter);
$cardBackgroundDark: var(--cardBackgroundDark);
$cardBackgroundDarker: var(--cardBackgroundDarker);
$cardBackgroundFade: var(--cardBackgroundFade);

$jumbotronBackground: var(--jumbotronBackground);
$jumbotronBackgroundLight: var(--jumbotronBackgroundLight);
$jumbotronBackgroundLighter: var(--jumbotronBackgroundLighter);
$jumbotronBackgroundDark: var(--jumbotronBackgroundDark);
$jumbotronBackgroundDarker: var(--jumbotronBackgroundDarker);
$jumbotronBackgroundFade: var(--jumbotronBackgroundFade);

$jumbotronHeaderColor: var(--jumbotronHeaderColor);
$jumbotronHeaderColorLight: var(--jumbotronHeaderColorLight);
$jumbotronHeaderColorLighter: var(--jumbotronHeaderColorLighter);
$jumbotronHeaderColorDark: var(--jumbotronHeaderColorDark);
$jumbotronHeaderColorDarker: var(--jumbotronHeaderColorDarker);
$jumbotronHeaderColorFade: var(--jumbotronHeaderColorFade);

$jumbotronIconColor: var(--jumbotronIconColor);
$jumbotronIconColorLight: var(--jumbotronIconColorLight);
$jumbotronIconColorLighter: var(--jumbotronIconColorLighter);
$jumbotronIconColorDark: var(--jumbotronIconColorDark);
$jumbotronIconColorDarker: var(--jumbotronIconColorDarker);
$jumbotronIconColorFade: var(--jumbotronIconColorFade);

$jumbotronSubheaderColor: var(--jumbotronSubheaderColor);
$jumbotronSubheaderColorLight: var(--jumbotronSubheaderColorLight);
$jumbotronSubheaderColorLighter: var(--jumbotronSubheaderColorLighter);
$jumbotronSubheaderColorDark: var(--jumbotronSubheaderColorDark);
$jumbotronSubheaderColorDarker: var(--jumbotronSubheaderColorDarker);
$jumbotronSubheaderColorFade: var(--jumbotronSubheaderColorFade);

$jumbotronTextColor: var(--jumbotronTextColor);
$jumbotronTextColorLight: var(--jumbotronTextColorLight);
$jumbotronTextColorLighter: var(--jumbotronTextColorLighter);
$jumbotronTextColorDark: var(--jumbotronTextColorDark);
$jumbotronTextColorDarker: var(--jumbotronTextColorDarker);
$jumbotronTextColorFade: var(--jumbotronTextColorFade);

$navbarBackground: var(--navbarBackground);
$navbarBackgroundLight: var(--navbarBackgroundLight);
$navbarBackgroundLighter: var(--navbarBackgroundLighter);
$navbarBackgroundDark: var(--navbarBackgroundDark);
$navbarBackgroundDarker: var(--navbarBackgroundDarker);
$navbarBackgroundFade: var(--navbarBackgroundFade);

$navbarTextColor: var(--navbarTextColor);
$navbarTextColorLight: var(--navbarTextColorLight);
$navbarTextColorLighter: var(--navbarTextColorLighter);
$navbarTextColorDark: var(--navbarTextColorDark);
$navbarTextColorDarker: var(--navbarTextColorDarker);
$navbarTextColorFade: var(--navbarTextColorFade);

$textDanger: var(--textDanger);
$textDangerLight: var(--textDangerLight);
$textDangerLighter: var(--textDangerLighter);
$textDangerDark: var(--textDangerDark);
$textDangerDarker: var(--textDangerDarker);
$textDangerFade: var(--textDangerFade);

$textInfo: var(--textInfo);
$textInfoLight: var(--textInfoLight);
$textInfoLighter: var(--textInfoLighter);
$textInfoDark: var(--textInfoDark);
$textInfoDarker: var(--textInfoDarker);
$textInfoFade: var(--textInfoFade);

$textPrimary: var(--textPrimary);
$textPrimaryLight: var(--textPrimaryLight);
$textPrimaryLighter: var(--textPrimaryLighter);
$textPrimaryDark: var(--textPrimaryDark);
$textPrimaryDarker: var(--textPrimaryDarker);
$textPrimaryFade: var(--textPrimaryFade);

$textSuccess: var(--textSuccess);
$textSuccessLight: var(--textSuccessLight);
$textSuccessLighter: var(--textSuccessLighter);
$textSuccessDark: var(--textSuccessDark);
$textSuccessDarker: var(--textSuccessDarker);
$textSuccessFade: var(--textSuccessFade);

$textWarning: var(--textWarning);
$textWarningLight: var(--textWarningLight);
$textWarningLighter: var(--textWarningLighter);
$textWarningDark: var(--textWarningDark);
$textWarningDarker: var(--textWarningDarker);
$textWarningFade: var(--textWarningFade);
