$themeColorBlue: rgb(12, 98, 148);
$navbarBackground: $themeColorBlue;

$themeColorBlue_seeThrough: rgba(12, 98, 148, 0.35);
$themeColorBlue1: rgb(24, 140, 207);

$background: rgb(241, 242, 246);
$sunkenPanelBackground: rgb(243, 244, 246);

$selectedPillBackground: rgb(232, 240, 246);
$selectedPillBackground1: rgb(235, 243, 249);
$pillBackground: rgb(246, 249, 255);
$pillBackground1: rgb(249, 251, 255);
$selectedPillHover: rgb(246, 232, 232);

$pageTitle: rgb(8, 55, 126);
$formSectionTitle: black;

$textPrimary: $themeColorBlue;
$textPrimary1: rgb(20, 117, 173);
$textPrimary2: rgb(30, 135, 195);

$textSecondary: rgb(30, 133, 180);
$textSecondary1: rgb(40, 145, 192);
$textSecondary2: rgb(50, 157, 210);

$textSecondary_seeThrough: rgba(30, 133, 180, 0.25);
$textSecondary1_seeThrough: rgba(40, 145, 192, 0.25);
$textSecondary2_seeThrough: rgba(50, 157, 210, 0.25);

$textPrimary_seeThrough: rgba(34, 137, 197, 0.1);
$textPrimary_seeThrough1: rgba(57, 163, 224, 0.1);
$textPrimary_seeThrough2: rgba(80, 191, 255, 0.1);

$textPrimary_glow: rgba(34, 137, 197, 0.4);
$textPrimary_glow1: rgba(57, 163, 224, 0.4);
$textPrimary_glow2: rgba(80, 191, 255, 0.4);

$textPrimary_topFade: linear-gradient(0deg, $textPrimary_seeThrough2 0%, transparent 100%);
$textPrimary_topFade1: linear-gradient(0deg, $textPrimary_seeThrough2 0%, transparent 70%);
$textPrimary_topFade2: linear-gradient(0deg, $textPrimary_seeThrough2 0%, transparent 50%);

$textPrimaryFaded: rgba(12, 98, 148, 0.5);

// ----------------------------------------------------------------------------------------------

$white: white;
$grey-0: rgb(241, 241, 241);
$grey-1: rgb(228, 228, 228);
$grey-2: rgb(204, 204, 204);
$grey-3: rgb(144, 144, 144);
$grey-4: rgb(95, 95, 95);
$grey-4: rgb(44, 44, 44);
$grey-5: rgb(26, 26, 27);
$black: black;

$background: rgb(241, 242, 246);
$cardBackground: rgb(235, 238, 240);
$cardHoverBackground: rgb(208, 220, 228);
$cardBorder: rgb(160, 166, 170);
$jumbotronBackground: #748a89;
$jumbotronHeaderColor: #5b7374;
$jumbotronSubheaderColor: #1e5d97;
$jumbotronIconColor: #1e5d97;
$bodyHeaderColor: rgb(20, 3, 51);

$navbarBackground: rgb(12, 98, 148);
$navbarBackgroundLight: rgba(12, 105, 155, 0.9);
$navbarBackgroundLight1: rgb(12, 110, 167);
$navbarTextColor: rgb(255, 253, 239);
$bodyBackground: rgb(244, 240, 245);
$bodyHeaderColor: rgb(3, 82, 135);
$cardBackground: rgb(248, 245, 250);
$jumbotronBackground: rgb(244, 240, 245);
$jumbotronHeaderColor: rgb(8, 114, 190);
$jumbotronIconColor: rgb(9, 178, 220);
$jumbotronSubheaderColor: rgb(7, 69, 85);
$jumbotronTextColor: rgb(14, 63, 70);
$bodyTextColor: rgb(20, 17, 16);
$textPrimary: rgb(12, 98, 148);
$textDanger: rgb(245, 20, 106);
$textInfo: rgb(34, 235, 212);
$textWarning: rgb(240, 207, 73);
$textSuccess: rgb(174, 230, 136);
