@import "./colors.scss";
@import "./fonts.scss";
@import "./mixins.scss";

.page-title {
  font-size: 92px;
  padding-left: 24px;
  padding-top: 24px;
  color: $pageTitle;
  font-family: $thin-allcaps-subtitle;
  font-weight: 100;
}

.page-title-subtext {
  margin-top: -24px;
  padding-top: 0px;
  margin-left: 24px;
  font-family: $thin-modern-title;
  font-weight: 100;
  font-size: 16px;
  color: rgb(27, 27, 27);
}

.form-section-title {
  font-size: 36px;
  color: $formSectionTitle;
  font-family: $thin-allcaps-subtitle;
  font-weight: 100;
  letter-spacing: 2px;
}

label {
  font-weight: 300;
  font-size: 15px;
  color: rgb(27, 27, 27);
}

.btn-primary {
  background-color: $textPrimary;
  border: unset;
}

.btn-primary.active {
  background-color: $textPrimary2;
  box-shadow: unset !important;
  outline: unset !important;
}

.btn-primary:hover {
  background-color: $textPrimary1;
}

.btn-primary:focus {
  background-color: $textPrimary2;
  box-shadow: unset !important;
  outline: none !important;
}

.btn-secondary {
  background-color: $textSecondary;
  border: unset;
  transition: all 0.1s ease-in-out;
}

.btn-secondary:hover {
  background-color: $textSecondary1;
}

.btn-secondary:focus {
  background-color: $textSecondary1;
  box-shadow: unset !important;
  outline: none !important;
}

.btn-secondary.active {
  background-color: $textSecondary2;
  box-shadow: 0px -1px 3px 2px $textSecondary2_seeThrough !important;
  outline: unset !important;
  font-weight: bolder;
}

.btn-nav {
  border-radius: unset;
  font-weight: 300;
  font-size: 15px;
}

.btn-primary-fade {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.btn-primary-fade.active {
  background: $textPrimary_topFade;
  color: $textPrimary;
  border-left: 1px solid $textPrimary;
  border-right: 1px solid $textPrimary;
  box-shadow: unset !important;
  outline: unset !important;
  font-weight: 400;
}

.btn-primary-fade:hover {
  background: $textPrimary_topFade;
}

.btn-primary-fade:focus {
  background: $textPrimary_topFade;
  box-shadow: unset !important;
  outline: none !important;
}

.form-section-title-underline {
  @include left-middle-right-gradient-hr(rgb(187, 187, 187), rgb(187, 187, 187), transparent);
  margin-top: -8px;
}

.dim-hr {
  @include colored-hr(rgb(187, 187, 187));
}

.selectable-pill {
  background-color: $pillBackground;
  font-weight: 300;
  font-size: 13px;
  border-radius: 6px;
  box-shadow: 0px 1px 3px 0px #00000080;
  border: none !important;
  outline: none !important;
  transition: all 0.1s ease-in-out;

  .pill-end-icon-holder {
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
  }
}

.selectable-pill:disabled {
  cursor: default;
  font-weight: 400;
  opacity: 70%;
  background-color: $themeColorBlue;
  color: whitesmoke;
  box-shadow: 0px 2px 3px 0px inset #00000080;
}

.selectable-pill:disabled:hover {
  cursor: default;
  opacity: 70%;
  font-weight: 400;
  background-color: $themeColorBlue;
  color: whitesmoke;
  box-shadow: 0px 2px 3px 0px inset #00000080;
}

.selectable-pill:hover {
  background-color: $pillBackground1;
  box-shadow: 0px 1px 5px 0px #00000080;
  border: none !important;
  outline: none !important;

  .pill-end-icon-holder {
    opacity: 1;
  }
}

.pill-end-icon-holder {
  width: 8px;
}

.selectable-pill-selected {
  background-color: $selectedPillBackground;
  box-shadow: 0px 1px 3px 0px #1f63bb;
  font-weight: 400;
}

.selectable-pill-selected:hover {
  background-color: $selectedPillBackground1;
  box-shadow: 0px 1px 3px 0px #1f63bbb7;
}

.form-section-subtext {
  padding: 0;
  margin: 0;
  margin-top: -20px;
  font-family: $thin-modern-title;
  font-weight: 100;
  font-size: 14px;
  color: rgb(27, 27, 27);
}

.save-btn {
  width: 200px;
  height: 40px;
  border-radius: 0px;
  border: unset;
  outline: unset;
  color: white;
  background-color: $themeColorBlue;
  box-shadow: 0 4px 8px 2px $themeColorBlue_seeThrough;
  font-family: $thin-modern-title;
  font-weight: 400;
  font-size: 16px;
  transition: box-shadow 0.2s ease-in-out;
}

.save-btn:hover {
  box-shadow: 0 4px 12px 4px $themeColorBlue_seeThrough;
}

.text-primary {
  color: $textPrimary !important;
}

.text-secondary {
  color: $textSecondary !important;
}

.nounderline {
  text-decoration: none !important;
}

.thin {
  font-weight: 200;
}

.less-thin {
  font-weight: 300;
}

.workout-exercise-selection-panel {
  background-color: $sunkenPanelBackground;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.315);
}

.space-1 {
  width: 1px;
}

.space-5 {
  width: 5px;
}

.space-10 {
  width: 10px;
}

.space-20 {
  width: 20px;
}

.unit-label {
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.number-input-without-arrows input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-input-without-arrows input[type="number"] {
  -moz-appearance: textfield;
}

.table-row-header {
  font-family: $thin-allcaps-subtitle;

  h5 {
    font-weight: 400;
  }
}

.w-40 {
  width: 40%;
}

.small {
  font-size: 0.9em;
}

.datepicker {
  height: 38px;
}

.datepicker:focus {
  border: 1px solid lightgrey !important;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $textPrimary_glow;
}

.see-through-75 {
  opacity: 75%;
}

.see-through-50 {
  opacity: 50%;
}

.see-through-25 {
  opacity: 25%;
}

.bigger {
  font-size: 1.1em;
}

.card {
  background-color: $pillBackground;
}
