@import "../../scss/blueprint-globals/colors.scss";
@import "../../scss/blueprint-globals/fonts.scss";

.NavbarBackground {
  width: 100%;
  background-color: $navbarBackground;
  position: sticky;
  top: 0px;
  left: 0px;
  margin: 0px;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 3px 0px;
}

.Navbar {
  max-width: 1920px;
  height: 40px;
  background-color: $navbarBackground;
  color: $navbarTextColor;
  // overflow: hidden;
}

.Logo {
  letter-spacing: 12px;
  text-transform: uppercase;
  font-family: $thin-modern-title;
  font-size: 22px;
  color: whitesmoke;
  text-shadow: 2px 1px 4px rgb(12, 32, 95), 2px 1px 3px rgb(12, 32, 95);
  transition: all 0.2s ease-in-out;
}

.Logo:hover {
  color: white;
  text-shadow: 4px 1px 4px rgb(12, 32, 95), 4px 1px 3px rgb(12, 32, 95);
}

.NavItem {
  height: 40px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 8px;
  font-family: $thin-modern-title;
  font-size: 16px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 4px rgb(12, 32, 95), 1px 1px 3px rgb(12, 32, 95);
  transition: all 0.1s ease-in-out;
}

.NavItem:hover {
  border-bottom: 4px solid $navbarTextColor;
  cursor: pointer;
}

.NavProfileImage {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  margin-top: 4px;
  border: 1px solid black;
}

.LinkNavSection {
  width: 42%;

  a {
    color: $navbarTextColor;
  }

  span {
    color: $navbarTextColor;
  }
}

.LogoNavSection {
  width: 320px;
  height: 40px;
  border-radius: 10px;
  background-color: $navbarBackground;
  padding: 8px 0px 0px 0px;
  transition: all 0.2s ease-in-out;

  .HoverPrompt {
    letter-spacing: 2px;
    opacity: 0;
  }
}

.LogoNavSection:hover {
  cursor: pointer;
  height: 70px;
  border-bottom: 4px solid $navbarTextColor;

  .HoverPrompt {
    opacity: 1;
  }
}

.ProfileNavSection {
  width: 42%;

  .ProfileNavItem {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 8px;
  }
}

.NavItemIcon {
  padding-top: 8px;
}

.PlayerNavDropdown {
  float: right;
  margin-right: 0px;
  text-align: right;
  height: 0px;
  padding-top: 0px;
  padding-bottom: 10px;

  // background-color: $navbarBackground;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.DropdownNavItem {
  padding: 6px 10px 6px 64px;
  margin-top: 12px;
  border-radius: 6px;
  background-color: $navbarBackground;
  box-shadow: rgb(38, 57, 77) 0px 10px 20px -10px;
  transition: all 0.2s ease-in-out;

  a {
    color: $navbarTextColor;
  }

  span {
    color: $navbarTextColor;
  }
}

.PlayerNavDropdownActive {
  opacity: 100%;
  height: auto;
}

.DropdownNavItem:hover {
  box-shadow: $navbarTextColor 0px 11px 21px -9px;
  cursor: pointer;
}

.ActiveNavLink {
  border-bottom: 4px solid $navbarTextColor;
}

.PlayerNavItem {
  background-color: $navbarBackgroundLight1;
}
